- if @Project and @Project.errors.any?
    div class="alert alert-danger"
        p The form contains #{ pluralize(@Project.errors.count, "error") }

    - @Project.errors.full_messages.each do |error|
        p * #{ error }

- elsif @Project
	div class="alert alert-success" role="alert"
		p Your post is submitted for review.