<% if @Project and @Project.errors.any? %>
    <div class="alert alert-danger">
        The form contains <%= pluralize(@Project.errors.count, "error") %>.
    </div>

    <% @Project.errors.full_messages.each do |error| %>
        <p>*<%= error %></p>
    <% end %>

<% elsif @Project %>

	<div class="alert alert-success" role="alert">Your post is submitted for review.</div>

<% end %>