<div class="row">

	<div class="col-xs-6">
		<h1>Welcome to Step Forward</h1>
		<hr>

		<p>Step Forward is a project designed to match students with research projects.<p>

		<h4>Sign up and We can get started<h4>


	</div>

	<div class="col-xs-6">

		<% if !user_signed_in? %>

		<% else %> 

		<% end %>

	</div>

</div>