div class="row"
	div class="col-xs-4"

		= image_tag("SocialGraph.png", width: '100%')

	div class="col-xs-8"
		div ng-controller="introductionController"

			/Normal Panel
			intropage1 ng-show="pageNumber(1)"
			/For Professors Panel
			intropage2 ng-show="pageNumber(2)"
			/For Students Panel
			intropage3 ng-show="pageNumber(3)"
			/About Developers Panel
			intropage4 ng-show="pageNumber(4)"

