<script>

	function initialize2(){
	    //Initialize the object defined in NewsLetter Generator
	    if (typeof pageObject2 == "undefined"){
	       pageObject2 = new pageIndex(<%= @projects.length %>, "itemPosts3", "pagenumber2");
	    }

	    pageObject2.initialize('.a_mail', 'posts3');

	}

  $(document).ready(initialize2);
  $(document).on('page:load', initialize2);

</script>

<h3>Current Projects</h3>

<div class="row">

  <div class="col-xs-4">
  		<div class="row" style="height:20px"></div>

  		<div class="text-center">
  			<div class="btn-group">
    			<button type="button" class="btn btn-default" 
    			onclick="pageObject2.decrement()">Prev</button>

   			<button type="button" class="btn btn-default disabled" id="pagenumber2">1</button>

    			<button type="button" class="btn btn-default" 
    			onclick="pageObject2.increment()">Next</button>
  			</div>
  		</div>

  		<div class="row" style="height:5px"></div>


  		  <ul id="itemPosts3" class="nav nav-tabs nav-stacked">

              <%= render :partial => "static_pages/partial/projectPosts" %>

  	    </ul>

  </div>

  <div class="col-xs-8">

		<div class="panel-content" id= "posts3" >

          <%= render :partial => "static_pages/partial/projectPostsInfo" %>

		</div>

	</div>
</div>