<div class="row">

	<div class="col-xs-6">

		<h3>Create Project Information</h4>

		<hr>

		<p>Project will be submitted to the Department of Computer Science Administrator before it is posted under Current Projects

		<hr>


	</div>

	<div class="col-xs-6">

		<% if !user_signed_in? %>

			<h3>SignIn to create a project</h3>

			<hr>

		<% else %> 

			<%= render :partial => "users/partials/createProject" %>

		<% end %>

	</div>

</div>