div id="panel-errorBar"

	- if @new_category and @new_category.errors.any?
	    div class="alert alert-danger"
	        p The form contains 
	        	#{ pluralize(@new_category.errors.count, "error") }

	    - @new_category.errors.full_messages.each do |error|
	        p *
	        	#{ error }

	- elsif @new_category
		div class="alert alert-success" role="alert" Your Category is Added.