<div id="panel-errorBar">

	<% if @new_category and @new_category.errors.any? %>
	    <div class="alert alert-danger">
	        The form contains <%= pluralize(@new_category.errors.count, "error") %>.
	    </div>

	    <% @new_category.errors.full_messages.each do |error| %>
	        <p>*<%= error %></p>
	    <% end %>

	<% elsif @new_category %>

		<div class="alert alert-success" role="alert">Your Category is Added.</div>

	<% end %>

</div>