<div class="panel-content" id= "posts" >
	<% @projects.each do |post| %>
		<div data-id="<%= post.item_id %>" class="hidden_class" >

			<h3><%= post.item_title %></h3>
			<hr>

			<p><%= post.item_text %></p>

		</div>
	<% end %>
</div>