hr

div id="panel-error"
    = render :partial => "projects/projectpartial/projecterror"

= form_for :project, :url => '/projects#create', :remote => true, 
    :html => {:id => "input_form"} do |f| 

    = f.label :title, "Project Title:"
    = f.text_field :title, placeholder: "Title of Post", :size=>"100", :class => "form-control"
    br

    = f.label :text, "Project Information:"
    = f.text_area :text, :size=>"70x9", :class => "form-control", placeholder: "Content Information"
    br

    = f.submit "Add New Post", class: "btn btn-default"