<h3>Requirement SubCategories</h3>

<% @subcategory.each do |items| %>
	<div class="panel panel-default">
		<div class="panel-heading"><b><%= items.sub_category_name %></b></div>

		<div class="panel-body">

		</div>

	</div>
<% end %>