<div class="row">
    <div class="col-xs-13">
        <div class="form-wrap">
            <h1>Log in with your UTORid</h1>

                <div class="form-group">
                    <input id="name" type="email" placeholder="Email" ng-model="user.username" required="" autofocus=""
                           class="form-control input-lg">
                </div>
                <div class="form-group">
                    <input id="pass" type="password" placeholder="Password" ng-model="user.password" required=""
                           class="form-control input-lg">
                </div>
                <div class="form-group">
                    <input id="btn-login" type="submit" value="Log in" class="btn btn-login btn-lg btn-block">
                </div>
        </div>
    </div>
</div>
