doctype html
html
	head
	 	title DCSUPP
	  	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	 	= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags

	body

	div ng-app="dcsupp"  ng-init=""

		div class="container"
			div style="height:60px"
				h1 DCSUPP

			div class="row"
				nav class="navbar navbar-default"
					div class="container-fluid"
				    /Brand and toggle get grouped for better mobile display

				    div class="navbar-header"
				    	button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
				        span class="sr-only" Toggle navigation
				        span class="icon-bar" 
				        span class="icon-bar"
				        span class="icon-bar"

				    / Collect the nav links, forms, and other content for toggling
				    div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"
				    	ul class="nav navbar-nav"
				        	li #{ link_to "Home Page", "/" }
				        	li #{ link_to "Current Projects", "/curr_project" }
				        	li #{ link_to "Create Project", '/create_project' }
				        	li #{ link_to "Manage Categories", '/admin_categories' }
				        	li
				        		a href="#" List Students

				      	ul class="nav navbar-nav navbar-right"
					    	- if user_signed_in?
								li #{ link_to('LOGOUT', destroy_user_session_path, :method => :delete) }
							- else 
							 	li #{ link_to("LOGIN".html_safe, new_user_session_path) }

			== yield