<!DOCTYPE html>
<html>
<head>
	<title>FlapperNews</title>

	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
</head>
<body ng-app="dcsupp">
<div class="row">
	<p>hi</p>
	<div class="col-md-6 col-md-offset-3">

	</div>
</div>



</body>
</html>